<div class="container p-d-flex p-align-center p-flex-column">
  <h1 *ngIf="currentTurn && !winStatus">It's your turn</h1>
  <h1 *ngIf="!currentTurn && !winStatus">It's not your turn</h1>
  <h1 *ngIf="winStatus && winStatus === 'draw'">It's a draw</h1>
  <h1 *ngIf="winStatus && winStatus === authService.getUsername()">You won</h1>
  <h1 *ngIf="winStatus && winStatus !== 'draw' && winStatus !== authService.getUsername()">You lost</h1>
  <table class="board">
    <tr *ngFor="let row of rows">
      <td class="cell" *ngFor="let cell of row.cells" (click)="makeMove(cell)">
        <img src="assets/images/x.png" *ngIf="cell.owner === authService.getUsername()">
        <img src="assets/images/o.png" *ngIf="cell.owner && cell.owner !== authService.getUsername()">
      </td>
    </tr>
  </table>
  <p-button class="p-mt-4" label="leave" (onClick)="leave()"></p-button>
</div>
